# Primes

#### This program will display the numbers 1-100 with different colours depending on prime.

> ↓ This code sets up the lists that will be used by the colour change code. ↓

In [1]:
primes = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97] # Defines and fills the list (primes)
numbers = [] # Defines the list (numbers) to fill
a = len(primes) # Finds the length of the list (primes) to use later
for i in range(1,101):
    numbers.append(i) # A quick method for setting a list that contians 1 to 100

### Table Setup

This code will set up the Pandas Data Frame with a 10 by 10 square.

In [2]:
import pandas as pd # Importing the module that the table depends on
data = [[1, 2, 3, 4, 5, 6, 7, 8, 9,10], [11,12,13,14,15,16,17,18,19,20],[21,22,23,24,25,26,27,28,29,30], [31,32,33,34,35,36,37,38,39,40],[41,42,43,44,45,46,47,48,49,50],
        [51,52,53,54,55,56,57,58,59,60],[61,62,63,64,65,66,67,68,69,70],[71,72,73,74,75,76,77,78,79,80],[81,82,83,84,85,86,87,88,89,90],[91,92,93,94,95,96,97,98,99,100]] # The values that are on each row
df = pd.DataFrame(data, columns=["0","1","2","3","4","5","6","7","8","9"]) # Initialises the creation of the Data Frame

## Output

The table below shows the list of numbers from 1-100 <br>
- If a number IS NOT prime, it is shown in <font color='green'>green</font> <br>
- If a number IS prime, it is shown in <font color='red'>red</font> <br>

> ↓ This code changes the colour of the values in the table. ↓

In [3]:
def colour_rotate(val):
    for i in range(0,a): # For loop to cycle through each value in the list (primes)
        if val in primes and val in numbers: # If statement to check if the value it is at, is a part of the list (primes)
            colour = 'red'
        else:
            colour = 'green'
        return 'color: %s' % colour # It is color as that is what pandas is written like
df.style.applymap(colour_rotate) # Applies colour to the table